.container {
  height: 100%;
  width: 100%;
  background: url(./starwars.gif) no-repeat center center fixed;
}

.home-header {
  text-align: center;
  color: #fff;
}

.home-header h1 {
  padding: 20px 0;
}

